@import "tailwindcss";

@theme {
  --color-primary: #3B1E54; /* Deep Purple */
  --color-secondary: #5C3286; /* Medium Purple */
  --color-accent: #9B6BDB; /* Light Purple / Lilac */
  --color-plomo: #E5E7EB; /* Light Gray / Plomo claro */
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f9fafb;
}

@keyframes scrollScreens {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }

}

.animate-scrollScreens {

  animation: scrollScreens 18s linear infinite;

}
